<ion-content [fullscreen]="true" class="perfil-content">
  <ion-grid class="ion-text-center">
    <!-- Imagen de perfil -->
    <ion-row>
      <ion-col>
        <img src="assets/images/perfil.png" alt="Perfil" class="perfil-img" />
      </ion-col>
    </ion-row>

    <!-- Datos del usuario -->
    <ion-list>
      <ion-item>
        <ion-label>Nombres: <strong>{{ info.nombre }}</strong></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Apellidos: <strong>{{ info.apellidos }}</strong></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Correo: <strong>{{ info.correo }}</strong></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono: <strong>{{ info.tel }}</strong></ion-label>
      </ion-item>
    </ion-list>

    <!-- Botón editar -->
    <ion-button expand="block" color="secondary" class="ion-margin-top">
      Editar Perfil
    </ion-button>
  </ion-grid>
</ion-content>
