<ion-content [fullscreen]="true" class="recuperar-content">
  <ion-grid class="ion-text-center">
    <!-- Logo -->
    <ion-row>
      <ion-col>
        <img src="assets/images/logo.png" alt="Logo" class="logo" />
      </ion-col>
    </ion-row>

    <!-- Mensaje -->
    <ion-row>
      <ion-col>
        <p>Ingrese su correo electrónico para recuperar su contraseña.</p>
      </ion-col>
    </ion-row>

    <!-- Correo -->
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="Correo Electrónico"></ion-input>
      </ion-item>
    </ion-list>

    <!-- Botón -->
    <ion-button expand="block" color="primary" class="ion-margin-top">
      Enviar Solicitud
    </ion-button>

    <!-- Regresar al login -->
    <p class="ion-text-center">
      ¿Recordaste tu contraseña? <a routerLink="/login">Inicia sesión</a>
    </p>
  </ion-grid>
</ion-content>
